---
layout: markdown_page
title: "Product Stage Vision - Create"
---

## On this page
{:.no_toc}

- TOC
{:toc}

<%= devops_diagram(["Create"]) %>

## Stage Overview

<%= partial("direction/create/templates/overview") %>

### Groups

The Create stage is made up of one DevOps stage, Create, and four groups including:

* Source Code
* Code Review
* Editor
* Gitaly

### Resourcing and Investment
The existing team members for the Create stage can be found in the links below:

* Source Code
   * [BE](https://about.gitlab.com/handbook/engineering/development/dev/create/source-code-be/)
   * [FE](https://about.gitlab.com/handbook/engineering/development/dev/create-source-code-fe/)
* Code Review
   * [BE](https://about.gitlab.com/handbook/engineering/development/dev/create/code-review/backend/)
   * [FE](https://about.gitlab.com/handbook/engineering/development/dev/create/code-review/frontend/)
* [Editor](https://about.gitlab.com/handbook/engineering/development/dev/create-editor/)
* [Gitaly](https://about.gitlab.com/handbook/engineering/development/dev/gitaly/)

## 3 Year Stage Themes
<%= partial("direction/create/templates/themes") %>

## 3 Year Strategy

- [No-code and Low-code](https://gitlab.com/groups/gitlab-org/-/epics/2353) has the potential to make it possible for more people to contribute to software development in different ways. While there are successful open source projects and commercial tools, there is a high fragmentation and lack of a single solution that would be broadly applicable. [Node-RED](https://nodered.org/) is a particularly interesting project that could be a candidate for integration in the future. Read more in the blog post [The role low code app development tools may play at GitLab](https://about.gitlab.com/blog/2020/03/26/low-code-no-code/).

## 1 Year Plan

<%= partial("direction/create/templates/plan") %>

## Target Audience

GitLab identifies who our DevSecOps application is built for utilizing the following categorization. We list our view of who we will support when in priority order.
* 🟩 - Targeted with strong support
* 🟨 - Targeted but incomplete support
* ⬜️ - Not targeted but might find value

### Today

### Medium Term (1-2 years)

## Categories in Create

<%= partial("direction/categories-content", :locals => { :stageKey => "create" }) %>

## Jobs to be Done

<%= partial("direction/jtbd-list", locals: { stage_key: "Create" }) %>

## Pricing

<%= partial("direction/create/templates/pricing") %>

## Upcoming Releases

<%= direction["all"]["all"] %>

<%= partial("direction/other", :locals => { :stage => "create" }) %>

<p align="center">
    <i><br>
    Last Reviewed: 2021-03-08<br>
    Last Updated: 2021-03-08
    </i>
</p>
